AVEC_ENVOI_COOKIE_SUR_HTTP= # autorise envoi du cookie de session par HTTP avec valeur true
AVEC_MOCK= # autorise l'ajout de contextes de serveur mock FC Plus avec valeur true
SECRET_JETON_SESSION= # secret utilisé pour chiffrer et déchiffrer le jeton stocké dans le cookie de session

CLE_PRIVEE_JWK_EN_BASE64= # Cle privée utilisée pour déchiffrer les infos utilisateur provenant de eIDAS (données au format JWK, chiffrées en base64)
IDENTIFIANT_CLIENT_FCPLUS= # identifiant d'accès au serveur FC+
SECRET_CLIENT_FCPLUS= # secret d'accès au serveur FC+
URL_CONFIGURATION_OPEN_ID_FCPLUS= # URL accès aux informations de configuration Open ID de FranceConnect+
URL_REDIRECTION_CONNEXION= # URL redirection après authentification FranceConnect+
URL_REDIRECTION_DECONNEXION= # URL redirection après destruction session FranceConnect+
