.bloc-marque
  .marianne
  .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
  .devise

.bloc-eidas
  a(href='https://eidas.ec.europa.eu/', target='_blank')
    .logo-eidas
    .titre-eidas European<br>digital ID
