extends base

block styles
  link(rel='stylesheet', href='/statique/assets/styles/accueil.css')
  link(rel='preload', href='/statique/assets/images/bouton_survol_eIDAS.svg' as='image')

block bandeau
  section
    .titre
      h1 Bienvenue sur le démonstrateur d'eIDAS
      h2 Vous trouverez sur ce site l'ensemble des informations sur le fonctionnement et l'utilisation d'eIDAS
    .image-site-vitrine

block page
  if infosUtilisateur
    p Félicitations #{infosUtilisateur.afficheToi()}, vous avez réussi à vous authentifier avec eIDAS !

    if avecOOTS
      a(href = '/oots/document') Récupérer un document par OOTS
      br

    a(href = '/auth/fcplus/destructionSession') Déconnexion
  else
    div
      h1 Je me connecte avec le bouton eIDAS
      a.bouton.eidas(href = '/auth/fcplus/creationSession?eidas')
