extends base

block styles
  link(rel='stylesheet', href='/statique/assets/styles/pageAccueil.css')

block page
  if avecConnexionFCPlus
    if infosUtilisateur
      p Utilisateur courant : #{infosUtilisateur.afficheToi()}
      a(href = '/auth/fcplus/destructionSession') Déconnexion
    else
      p Pas d'utilisateur courant
      div
        p.
          FranceConnect+ est la solution proposée par l'État pour renforcer la
          sécurité de vos services en ligne les plus sensibles.
        a.bouton.franceconnect(href = '/auth/fcplus/creationSession')
        a.nouvel-onglet(href = 'https://franceconnect.gouv.fr/france-connect-plus', target = '_blank').
          Qu'est-ce que FranceConnect+ ?

        if avecConnexionEIDAS
          a.bouton.eidas(href = '/auth/fcplus/creationSession?eidas')
  else
    p Pas d'utilisateur courant
