extends base

block styles
  link(rel='stylesheet', href='/statique/assets/styles/accueil.css')

block bandeau
  section
    .titre
      h1 Bienvenue sur le démonstrateur d'eIDAS
      h2 Vous trouverez sur ce site l'ensemble des informations sur le fonctionnement et l'utilisation d'eIDAS
    .image-site-vitrine

block page
  if avecConnexionFCPlus
    if infosUtilisateur
      p Félicitations #{infosUtilisateur.afficheToi()}, vous avez réussi à vous authentifier avec eIDAS !
      a(href = '/auth/fcplus/destructionSession') Déconnexion
    else
      h1 Choisissez votre cas d'usage
      div
        p.
          FranceConnect+ est la solution proposée par l'État pour renforcer la
          sécurité de vos services en ligne les plus sensibles.
        a.bouton.franceconnect(href = '/auth/fcplus/creationSession')
        a.nouvel-onglet(href = 'https://franceconnect.gouv.fr/france-connect-plus', target = '_blank').
          Qu'est-ce que FranceConnect+ ?

        if avecConnexionEIDAS
          a.bouton.eidas(href = '/auth/fcplus/creationSession?eidas')
  else
    p Pas d'utilisateur courant
