doctype html

html(lang = 'fr', xml:lang = 'fr', xmlns = 'http://www.w3.org/1999/xhtml')
  head
    meta(charset='UTF-8')
    meta(name = 'viewport', content = 'width=device-width')
    title Vitrine eIDAS-France
    link(rel='stylesheet', href='/statique/assets/styles/fontes.css')
    link(rel='stylesheet', href='/statique/assets/styles/palette.css')
    link(rel='stylesheet', href='/statique/assets/styles/commun.css')
    block styles

  body
    header
      .bloc-marque
        .marianne
        .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
        .devise
      .bloc-eidas
        a(href='https://eidas.ec.europa.eu/', target='_blank')
          .logo-eidas
          .titre-eidas European<br>digital ID

    .bandeau
      block bandeau

    main
      block page

    footer
      .logos
        .bloc-marque
          .marianne
          .republique-francaise RÉPUBLIQUE<br>FRANÇAISE
          .devise
        .bloc-eidas
          a(href='https://eidas.ec.europa.eu/', target='_blank')
            .logo-eidas
            .titre-eidas European<br>digital ID
      ul
        li: a(href='https://agentconnect.gouv.fr', target='_blank') agentconnect.gouv.fr
        li: a(href='https://info.gouv.fr', target='_blank') info.gouv.fr
        li: a(href='https://service-public.fr', target='_blank') service-public.fr
        li: a(href='https://data.gouv.fr', target='_blank') data.gouv.fr
