doctype html
html(lang = 'fr', xml:lang = 'fr', xmlns = 'http://www.w3.org/1999/xhtml')
  head
    meta(charset='UTF-8')
    meta(name = 'viewport', content = 'width=device-width')
    title Vitrine eIDAS-France
    link(rel='stylesheet', href='/statique/assets/styles/commun.css')
    link(rel='stylesheet', href='/statique/assets/styles/fontes.css')
    block styles

  block page
