<!DOCTYPE html>
<meta charset="utf-8">
<title>Vitrine eIDAS-France</title>
<link rel="stylesheet" href="/statique/assets/styles/fontes.css">
<link rel="stylesheet" href="/statique/assets/styles/pageAccueil.css">

<h1>Une erreur s'est produite</h1>
<p>{{descriptionErreur}}</p>

<p><a href="/">Retourner à l'accueil</a></p>
