<!DOCTYPE html>
<meta charset="utf-8" />
<title>OOTS-France</title>

{{#avecConnexionFCPlus}}
{{#infosUtilisateur}}
  <p>Utilisateur courant : {{given_name}} {{family_name}}</p>
  <a href="/auth/fcplus/destructionSession">Déconnexion</a>
{{/infosUtilisateur}}
{{^infosUtilisateur}}
  <p>Pas d'utilisateur courant</p>
  <a href="/auth/fcplus/creationSession">Connexion</a>
{{/infosUtilisateur}}
{{/avecConnexionFCPlus}}

{{^avecConnexionFCPlus}}
<p>Pas d'utilisateur courant</p>
{{/avecConnexionFCPlus}}
