{{>fragments/commun}}
<link rel="stylesheet" href="/statique/assets/styles/pageAccueil.css">


{{#avecConnexionFCPlus}}
  {{#infosUtilisateur}}
    <p>Utilisateur courant : {{given_name}} {{family_name}}</p>
    <a href="/auth/fcplus/destructionSession">Déconnexion</a>
  {{/infosUtilisateur}}
  {{^infosUtilisateur}}
    <p>Pas d'utilisateur courant</p>
    <div>
      <p>
      FranceConnect+ est la solution proposée par l'État pour renforcer la sécurité de vos services en ligne les plus sensibles.
      </p>
      <a class="bouton-franceconnect" href="/auth/fcplus/creationSession"></a>
      <a href="https://franceconnect.gouv.fr/france-connect-plus" class="nouvel-onglet" target="_blank">Qu'est-ce que FranceConnect+ ?</a>
      {{#avecConnexionEIDAS}}
        <a class="bouton-eidas" href="/auth/fcplus/creationSession?eidas"></a>
      {{/avecConnexionEIDAS}}
    </div>
  {{/infosUtilisateur}}
{{/avecConnexionFCPlus}}

{{^avecConnexionFCPlus}}
  <p>Pas d'utilisateur courant</p>
{{/avecConnexionFCPlus}}
