section {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  padding: 1em 3em;
  background-color: var(--lavande-fond-bandeau);
}

section h1 {
  font-size: 2em;
  color: var(--bleu-systeme-design-etat);
}

section h2 {
  font-size: 1em;
  font-weight: normal;
}

.image-site-vitrine {
  width: 320px;
  height: 320px;
  padding: 0 4em 0 0;
  background-image: url(/statique/assets/images/image-site-vitrine.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.bouton {
  display: block;
  cursor: pointer;

  width: 256px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}

.bouton.franceconnect {
  margin-bottom: 12px;
  background-image: url(/statique/assets/images/bouton_france_connect_plus.svg);
}

.bouton.franceconnect:hover {
  background-image: url(/statique/assets/images/bouton_survol_france_connect_plus.svg);
}

.bouton.eidas {
  margin-top: 12px;
  background-image: url(/statique/assets/images/bouton_eidas.svg);
}

.bouton.eidas:hover {
  background-image: url(/statique/assets/images/bouton_survol_eIDAS.svg);
}

.nouvel-onglet::after{
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;

  mask: url(/statique/assets/images/icone_nouvel_onglet.svg);
  mask-size: contain;
  background-color: var(--bleu-titre);
  transform: translateX(.2em) translateY(.25em);
}
