html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  min-width: 1000px;

  height: 100%;
  margin: 0;
  font-family: 'Marianne';
}

header, main, footer {
  padding: 2em;
}

header, footer .logos {
  display: flex;
  align-items: center;
  column-gap: 1.2em;
}

header {
  box-shadow: 0px 3px 10px var(--gris-ombre);
}

main {
  flex-grow: 1;
  margin: 0 0 5em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 2px solid var(--bleu-bordure);
}

footer ul {
  display: flex;
  column-gap: 3em;
  font-size: 0.6em;
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.bloc-eidas a {
  display: flex;
  align-items: center;
  column-gap: .2em;

  text-decoration: none;
}
