.bouton-franceconnect {
    display: block;
    cursor: pointer;

    width: 256px;
    height: 60px;
    margin-bottom: 12px;
    background-image: url("/statique/assets/images/bouton_france_connect_plus.svg");
}

.bouton-franceconnect:hover {
    background-image: url("/statique/assets/images/bouton_survol_france_connect_plus.svg");
}
