.devise, .marianne {
  background-repeat: no-repeat;
  background-size: contain;
}

.marianne {
  height: .75em;
  background-image: url(/statique/assets/images/marianne.svg);
}

.republique-francaise {
  padding: .1em 0;
  font-size: .7em;
  font-weight: bold;
  line-height: 1em;
}

.devise {
  height: 1.25em;
  background-image: url(/statique/assets/images/devise.svg);
}
